.p{
    background-color:#E27D60;
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    font-weight: bold;
    text-decoration-line: underline;
    font-size: 40px;
}
.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
   width: 600px;
   height: auto;
   border-style: solid;
   border-radius: 30px;
}

.r{
   font-weight: bold;
   text-align: center;
   font-size: 25px;
}

.f,
.j{
   text-decoration-line: underline;
   font-size: 20px;
}

.body{
   background-color:#85dcb8;
   font-family: 'Mountains of Christmas', cursive;
}
